[Unit]
Description=DHT22 sensor daemon
After=network.target

[Service]
Type=forking
PIDFile=dht22-sensor.pid
WorkingDirectory=/
User=root
UMask=0
StandardInput=null
StandardOutput=null
PrivateTmp=yes
ExecStart=/usr/sbin/dht22-sensor
Restart=on-failure

[Install]
WantedBy=multi-user.target
